/*Insert Color Variables Here:*/
:root {

--turquoise: #00d9c0ff;
--tart-orange: #f25757ff;
--blue-sapphire: #19647eff;
--maximum-yellow-red: #ffc857ff;
--old-burgundy: #2c1a1dff;

}

/*Basic Styling*/
body{
    
    font-family: 'Yanone Kaffeesatz';
    background-color:rgb(255, 253, 245);
}
    
header{
    text-align:center;
}

header > *{
    margin:0;
}

#container, #input-book, form, label, input{
    display:flex;
}


#container{
    flex-flow:column;
}

h1{
    font-family: 'Cardo';
    font-weight:700;
    color:var(--tart-orange);
    font-size:3rem;
}

h2{
    font-size:1rem;
    font-size:1.5rem;
    color:var(--blue-sapphire);
    margin-bottom:2rem;
}

#container{
    height:90vh;
    margin:2rem 1rem;
}

/*Toggle Switch Styling*/
[type="checkbox"] {
position: absolute;   
left: -9999px;
}

.toggle-group{
    width:80px;
}

.toggle{
    position:relative;
    width:60px;
    height:30px;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    background: var(--tart-orange);
    transition: all 0.3s;
}
.toggle::before{
    content: "";
    position: absolute;
    height:30px;
    width:30px;
    background-color:white;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
    border-radius:15px;
    transition: all 0.3s;
}
.toggle::after{
    position:absolute;
    left:35px;
    bottom:2px;
    font-family:arial;
    color:#555;
}
#is-read:checked + span.toggle::after{
    transform:translateX(-25px);
}
    #is-read:checked + span.toggle{
        background: var(--turquoise)
    }
    #is-read:checked + span.toggle::before{
        transform:translateX(30px);

    }

/*Form Styling*/
label{
        margin:0.5rem 0.8rem;
        font-size:1.5rem;
        color:var(--blue-sapphire);
    }
input{
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        margin-top:0.4rem;
    }
button#add-book{
        width:60px;
        height:60px;
        border-radius:50%;
        border:none;
        background-color:var(--tart-orange);
        justify-self:flex-end;
        align-self:flex-end;
        font-size:30px;
        margin-top:3rem;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2),
                    4px 4px 6px rgba(0, 0, 0, 0.2),
                    4px 4px 10px rgba(0, 0, 0, 0.2);
        color:white;
        transition: linear 0.2s ;
        flex-shrink:0;
    }
button#add-book:hover{
        background-color:var(--turquoise)
    }
/*Portrait Phone*/
@media (max-width: 575.98px) {

body{
        overflow:hidden;
        height:50vh;
    }

label, form{
        flex-flow:column;
    }

form{
    height:50%;
    }

#input-book{

    flex-flow:column;
    height:60%;
}

}
/*Landscape Phones and tablets*/
@media (min-width:576px) and (max-width:992px){
    #input-book, form, label{
        flex-flow:column;
    }

    h1{
        font-size:1.3rem; 
    }
    h2{
        font-size:1rem;
        margin:0;
    }
    button#add-book{
        justify-self:flex-start;
        align-self:flex-end;
        margin-top:0;
        border-radius:5%;
        width:100px;
        height:auto;

    }

}
/* Big screens */
@media (min-width: 992px){
    

}